<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="parent">
    <div class="sidebar" [class.active]="isSidebarActive">
        <div class="logo-details">
            <img src="logoT.png">
            <div class="logo_name">TerangaGestion</div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/dashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/recensements" class="active">
                    <i  class='bx bx-box'></i>
                    <span class="links_name">Recensements</span>
                </a>
            </li>
            <li>
                <a href="/evaluation">
                    <i  class='bx bx-calculator'></i>
                    <span class="links_name">Evaluation</span>
                </a>
            </li>
            <li>
                <a href="/locaux">
                    <i  class='bx bx-home'></i>
                    <span class="links_name">Biens</span>
                </a>
            </li>
            <li>
                <a href="/proprietaires">
                    <i  class='bx bx-user'></i>
                    <span class="links_name">Propriétaires</span>
                </a>
            </li>
            <li>
                <a href="/locataires">
                    <i  class='bx bx-user'></i>
                    <span class="links_name">Locataires</span>
                </a>
            </li>
            <li>
                <a href="/utilisateurs">
                    <i  class='bx bx-user'></i>
                    <span class="links_name">Utilisateurs</span>
                </a>
            </li>
            <li>
                <a href="/profil">
                    <i  class='bx bx-user'></i>
                    <span class="links_name">Profil</span>
                </a>
            </li>
            
            <li>
                <a href="/parametres">
                    <i  class='bx bx-cog'></i>
                    <span class="links_name">Paramètres</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i  class='bx bx-log-out'></i>
                    <span class="links_name">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn' (click)="toggleSidebar()"></i>
          </div>
          <div class="nf-circle">NF</div>
        
        </nav>
        
        <div class="container">
            
             <div class="row">
                
                <div class="col-15">
                    <div class="panel panel-success">
            
                        <div class="panel-heading">
                            <h3 class="panel-title">Recensements</h3>
                        </div>
                        
                        <table class="table table-hover" id="task-table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Commune</th>
                                    <th>Section</th>
                                    <th>Service</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recensement of recensements; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ recensement.region }}</td>
                                    <td>{{ recensement.departement }}</td>
                                    <td>{{ recensement.commune }}</td>
                                    <td>{{ recensement.section }}</td>
                                    <td>{{ recensement.service }}</td>
                                    <td>{{ recensement.etat }}</td>
                                    <td>
                                        <a href="" class="btn-consulter">Consulter</a>
                                        <a href="" class="btn-editer">Modifier</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
            
        </div>        <div class="btn-container">
            <a href="#" class="btn-ajouter" (click)="openAddModal(); $event.preventDefault()">Ajouter</a>
        </div>   
        
        <app-add-recensement-modal 
            *ngIf="showAddModal" 
            (closeModal)="closeAddModal()"
            (recensementAdded)="onRecensementAdded($event)">
        </app-add-recensement-modal>
        
      </section>
</div>
    
    
      









